In [1]:
import pandas as pd
df=pd.read_csv("D:/yenaval/swig_profin/swiggy (1).csv")
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [2]:
print(df.info())
print(df.shape)
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB
None
(148541, 11)
id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [3]:
df.duplicated().sum()

np.int64(0)

In [4]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [5]:
import numpy as np

In [6]:
df["rating"]=df["rating"].replace("--",np.nan)
df["rating"]=df["rating"].astype(float)

In [7]:
df["rating_count"].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', nan, '10K+ ratings'],
      dtype=object)

In [8]:
df["rating_count"]=df["rating_count"].replace('Too Few Ratings',np.nan)
df["rating_count"]=df["rating_count"].str.extract("(\d+)")
df["rating_count"]=df["rating_count"].astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\ALDO\AppData\Local\Temp\ipykernel_3300\1400435119.py:2: SyntaxWarning: invalid escape sequence '\d'
  df["rating_count"]=df["rating_count"].str.extract("(\d+)")

In [9]:
df['cost']=df['cost'].str.replace('₹', '', regex=False)
df['cost'] = df['cost'].astype(float)

In [10]:
df.isnull().sum()

id                  0
name               86
city                0
rating          87100
rating_count    87100
cost              131
cuisine            99
lic_no            229
link                0
address            86
menu                0
dtype: int64

In [11]:
df["rating"]=df["rating"].fillna(df["rating"].mean())
df["rating_count"]=df["rating_count"].fillna(0).astype(int)

In [12]:
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,3.894461,0,200.0,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.400000,50,200.0,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.800000,100,100.0,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.700000,20,250.0,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,3.894461,0,250.0,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [13]:
df=df.dropna(subset=["name","cuisine",'cost','lic_no','address'])

In [14]:
df.to_csv("cleaned_data.csv", index=False)

In [15]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import pickle

In [16]:
#loading the cleaned data
df=pd.read_csv("D:/yenaval/swig_profin/cleaned_data.csv")

#Columns
categorial_names=["name"]
categorial_onehot=["city","cuisine"]
numerical_colu=["rating","rating_count","cost"]

#lable encoding
encoder=LabelEncoder()
df["name_encoded"]=encoder.fit_transform(df['name'])

In [17]:
onehot=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
encoded_feature=onehot.fit_transform(df[categorial_onehot])

encoded_df = pd.DataFrame(encoded_feature, columns=onehot.get_feature_names_out(categorial_onehot))

final_df=pd.concat([df[numerical_colu],df["name_encoded"],encoded_df],axis=1)
final_df.to_csv("encoded_data.csv", index=False)

In [18]:
# Save encoders for later use
with open("labelencoder.pkl", "wb") as f:
    pickle.dump(encoder, f)

with open("onehotencoder.pkl", "wb") as f:
    pickle.dump(onehot, f)

print("Hybrid encoding done")
print("Cleaned Data Shape:", df.shape)
print("Encoded Data Shape:", final_df.shape)

Hybrid encoding done
Cleaned Data Shape: (148255, 12)
Encoded Data Shape: (148255, 2956)

In [19]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pickle
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

#Load the encoded data and cleaned data
encoded_df=pd.read_csv("D:/yenaval/swig_profin/encoded_data.csv")
cleaned_df=pd.read_csv("D:/yenaval/swig_profin/cleaned_data.csv")

#scale encoded feature
scaler=StandardScaler()
scaled_features=scaler.fit_transform(encoded_df)

#Kmeans clustering
kmeans=KMeans(n_clusters=10, random_state=42)
cluster_labels = kmeans.fit_predict(scaled_features)

#add cluster labels to cleaned data
cleaned_df['cluster'] = cluster_labels
cleaned_df.to_csv("clustered_data.csv", index=False)

In [20]:
# Save scaler and clustering model for later use
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)
with open("kmeans_model.pkl", "wb") as f:
    pickle.dump(kmeans, f)

print("KMeans clustering complete and models saved.")
print("Cleaned dataset now has cluster labels. Shape:", cleaned_df.shape)

KMeans clustering complete and models saved.
Cleaned dataset now has cluster labels. Shape: (148255, 12)

In [21]:
# Cosine Similarity based Recommendation function
def recommend_restaurants(user_features, encoded_df, cleaned_df, top_n=5):
    # Compute cosine similarity between user input and all restaurants
    similarities = cosine_similarity(user_features.reshape(1, -1), encoded_df.values)[0]
    # Get indices of top matches
    top_indices = np.argsort(similarities)[-top_n:][::-1]
    # Return the recommended restaurants from cleaned data
    recommendations = cleaned_df.iloc[top_indices]
    return recommendations